@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>人情来往管理系统</title>
    <link href="@Url.Content("~/Scripts/layui/css/layui.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")"></script>
    <script src="@Url.Content("~/Scripts/layui/layui.js")"></script>
    <link href="@Url.Content("~/Content/main.css")" rel="stylesheet" />
</head>
<body>
    <!-- 布局容器 -->
    <div class="layui-layout layui-layout-admin">
        <!-- 头部 -->
        <div class="layui-header">
            <div class="layui-main ">
                <!-- logo -->
                <a href="#" style="color: #c2c2c2; font-size: 18px; line-height: 60px;">人情来往管理系统</a>
                <!-- 水平导航 -->
                <ul class="layui-nav" style="position: absolute; top: 0; right: 0; background: none;">
                    <li class="layui-nav-item">
                        <a href="@Url.Action("Index","Home")">
                            返回首页
                        </a>
                    </li>
                    <li class="layui-nav-item">
                        <a href="javascript:;">
                            梦想星辰大海
                        </a>
                        <dl class="layui-nav-child">
                            <dd>
                                <a href="javascript:;">
                                    个人信息
                                </a>
                            </dd>
                            <dd>
                                <a href="javascript:;">
                                    修改密码
                                </a>
                            </dd>
                            <dd>
                                <a href="javascript:;">
                                    退出登录
                                </a>
                            </dd>
                        </dl>
                    </li>
                </ul>
            </div>
        </div>
        <!-- 侧边栏 -->
        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll">
                <ul class="layui-nav layui-nav-tree" lay-filter="left-nav" style="border-radius: 0;">
                    <li class="layui-nav-item layui-this"><a href="javascript:;" data-url="main.html" data-id="1">主页</a></li>
                    <li class="layui-nav-item">
                        <a href="javascript:;">搜索引擎<span class="layui-nav-more"></span></a>
                        <ul class="layui-nav-child">
                            <li class="layui-nav-item"><a href="https://www.baidu.com/">百度</a></li>
                            <li class="layui-nav-item"><a href="javascript:;" data-url="http://cn.bing.com/" data-id="4">必应</a></li>
                            <li class="layui-nav-item"><a href="javascript:;" data-url="https://www.so.com/" data-id="5">360</a></li>
                            <li class="layui-nav-item"><a href="javascript:;" data-url="https://www.sogou.com/" data-id="6">搜狗</a></li>
                        </ul>
                    </li>
                    <li class="layui-nav-item">
                        <a href="javascript:;">系统设置</a>
                        <ul class="layui-nav-child">
                            <li class="layui-nav-item"><a href="javascript:;" onclick="LoadMainBody('@Url.Action("Index","NodeManage")')">节点设置</a></li>
                            <li class="layui-nav-item"><a href="javascript:;" onclick="LoadMainBody('@Url.Action("Index","RoleManage")')">角色管理</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!-- 主体 -->
        <div class="layui-body" id="MainBody">

        </div>
        <!-- 底部 -->
        <div class="layui-footer" style="text-align: center; line-height: 44px;">
            Copyright © 2017 Harvey All rights reserved
        </div>
    </div>
    <script type="text/javascript">
        layui.use('element', function () {
            var element = layui.element();

        });
    </script>
</body>
</html>
<script>
    function loadPower() {

    }
    function LoadMainBody(strurl) {
        htmlobj = $.ajax({ url: strurl, async: false });
        $("#MainBody").html(htmlobj.responseText);
    }
    LoadMainBody("@Url.Action("Index","OverView")");
</script>
