<div style="margin-top:20px;">
    <div class="layui-form">
        <div class="layui-form-item">
            <label class="layui-form-label">角色名称</label>
            <div class="layui-input-block">
                <input type="text" id="RoleName" name="RoleName" autocomplete="off" placeholder="请输入角色名称" class="layui-input" style="width:300px" maxlength="32">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">角色说明</label>
            <div class="layui-input-block">
                <input type="text" id="RoleDesc" name="RoleDesc" autocomplete="off" placeholder="" class="layui-input" style="width:300px" maxlength="64">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn layui-btn-normal" onclick="saveBtnClick()">保  存</button>
                <button class="layui-btn layui-btn-warm" onclick="cancelBtnClick()">取  消</button>
            </div>
        </div>
    </div>
</div>
<link href="@Url.Content("~/Scripts/layui/css/layui.css")" rel="stylesheet" />
<script src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")"></script>
<script src="@Url.Content("~/Scripts/layui/layui.js")"></script>
<script>
    var rstatus = "@ViewBag.RStatus";
    var rid = "";
    if (rstatus == "edit") {
        rid = "@ViewBag.RId";
        $.post("@Url.Action("GetDetail","RoleManage")",
            {
                Id: rid
            },
            function (data, status) {
                if (status == "success") {
                    bindData(data);
                }
            }, "json"
            )
    }
    function bindData(data) {
        $("#RoleName").val(data.RoleName);
        $("#RoleDesc").val(data.RoleDesc);
    }
    $(document).ready(function () {
        layui.use(['layer', 'form'], function () {
            var layer = layui.layer;
            form = layui.form();
            form.render();
        });
    });
    function cancelBtnClick() {
        var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
        parent.layer.close(index); //再执行关闭
    }
    function saveBtnClick() {
        if (VerifyValid() == false)
            return false;
        if (rstatus == "add") {
            $.post("@Url.Action("AddData", "RoleManage")",
                {
                    RoleName: $("#RoleName").val(),
                    RoleDesc: $("#RoleDesc").val()
                },
                function (data, status) {
                    if (status == "success") {
                        if (data == "success") {
                            layer.msg('保存成功', { icon: 1 });
                            //do something
                            RoleName: $("#RoleName").val("");
                            RoleDesc: $("#RoleDesc").val("");
                        }
                        else if (data == "exists") {
                            layer.msg('角色名重复，请重新输入！', { icon: 2 });
                            layer.tips('请输入角色名称', '#RoleName', {
                                tips: [2, '#ff0000'],
                                time: 3000
                            });
                        }
                    }
                }
                );
        } else {

        }
    }
    function VerifyValid() {
        if ($("#RoleName").val() == "") {
            layer.tips('请输入角色名称', '#RoleName', {
                tips: [2, '#ff0000'],
                time: 3000
            });
            return false;
        }
        return true;
    }
    function clearValue() {
        RoleName: $("#RoleName").val("");
        RoleDesc: $("#RoleDesc").val("");
    }
</script>
