@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link rel="stylesheet" href="@Url.Content("~/Css/style.css")" type="text/css" media="all">
    <title>登录</title>
</head>
<body onkeydown="keyDownFunc()">
    <div class="banner">
        <div class="agileinfo-dot">
            <h1>@ViewBag.System_Name</h1>
            <div class="layoutscontainer">
                <h2>登  录</h2>
                <form action="#" method="post">
                    <input type="text" name="Username" id="Username" placeholder="用户名" required="">
                    <input type="password" name="Password" id="Password" placeholder="密码" required="">
                    <div class="aitssendbuttonw3ls">
                        <input type="button" id="loginBtn" value="登  录" onclick="mlogin();">
                        <div class="clear"></div>
                    </div>
                </form>
            </div>


            <div class="w3footeragile">
                <p> @ViewBag.LoginFooter | Design by <a href="http://w3layouts.com" target="_blank">W3layouts</a></p>
            </div>
        </div>
    </div>
</body>
</html>
<script src="~/Scripts/layui/layui.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/md5.js"></script>
<script src="~/Scripts/sha1.js"></script>
<script>
    var layer;
    var logincount = 0;
    layui.use('layer', function () {
        layer = layui.layer;
    });
    function openPage() {
        layer.open({
            title: '',
            type: 2,
            content: 'bb_checklogin.html',
            time: 30000,
            area: ['100%', '100%'],
            closeBtn: false
        });
        logincount = 0;
    }
    function mlogin() {
        if (logincount >= 3) {
            openPage();
        }
        else {
            var username = $("#Username").val();
            var password = $("#Password").val();
            if (username == "") {
                layer.tips('请输入用户名', '#Username', {
                    tips: [2, '#ff0000'],
                    time: 3000
                });
                return;
            }
            if (password == "") {
                layer.tips('请输入密码', '#Password', {
                    tips: [2, '#ff0000'],
                    time: 3000
                });
                return;
            }
            var encodestr = hex_md5(password);
            encodestr = hex_sha1(encodestr);
            var actionurl = "@Url.Action("LoginConfirm","PRSignIn")"
            $.post(actionurl,
                {
                    username: username,
                    pwd: encodestr
                },
                function (data, status) {
                    if (status == "success") {
                        if (data == "用户名或密码错误") {
                            logincount++;
                            layer.alert(data, {
                                icon: 2,
                                closeBtn: false,
                                title: '警告'
                            });
                        }
                        else {
                            location.href = "@Url.Action("Index","Home")";
                        }
                    }
                    else {
                        layer.alert("网络连接超时", {
                            icon: 2,
                            closeBtn: false,
                            title: '警告'
                        });
                    }
                }
                );
        }
    }
    function keyDownFunc() {
        if (event.keyCode == 13)  //回车键的键值为13
            mlogin(); //调用登录按钮的登录事件
    }
</script>
