@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>人情信息导入页</title>
    <link href="@Url.Content("~/Scripts/layui/css/layui.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")"></script>
    <script src="@Url.Content("~/Scripts/layui/layui.js")"></script>
    <link href="@Url.Content("~/Content/main.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/ssi-uploader.min.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/ssi-uploader.js")"></script>
</head>
<body>
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>人情信息导入</legend>
    </fieldset>
    <fieldset class="layui-elem-field">
        <legend>导入说明</legend>
        <div class="layui-field-box">
            <span style="color:red">
                导入信息依次为：来往人姓名、来往人备注、来往类型、来往金额、来往备注、来往时间；<br />
                注意事项：1、来往人姓名和来往人备注确定唯一一个来往人（如果姓名重复）；2、来往类型这一列请填写 收情或者还情；3、来往金额只能为数字，其他附加信息请填写在来往备注中；<br />
            </span>
            提供样表模版，请严格按照样表格式和注意事项进行填写。<a href="@Url.Content("~/TempTable/人情信息样表.xls")" style="text-decoration:underline">样表下载</a>
        </div>
    </fieldset>
    <fieldset class="layui-elem-field">
        <legend>上传导入文件</legend>
        <div class="layui-field-box">
            <div class="layui-form">
                <div class="layui-form-item">
                    <input type="file" multiple id="importfile">
                </div>
            </div>
        </div>
    </fieldset>
    <fieldset class="layui-elem-field" id="previewfield" style="display:none">
        <legend>导入信息预览  <button class="layui-btn layui-btn-normal " id="checkBtn" style="margin-left:20px;display:none" onclick="checkClick()"><i class="layui-icon">&#xe63c;</i> 检测数据</button>
<button class="layui-btn layui-btn-normal" id="importBtn" style="margin-left: 20px; display: none" onclick="importClick()"><i class="layui-icon">&#xe62f;</i> 导入数据</button></legend>
        <div class="layui-field-box">
            <table class="layui-table" lay-even="">
                <thead>
                    <tr>
                        <th style="width:10%">来往人姓名</th>
                        <th style="width:15%">来往人备注</th>
                        <th style="width:8%">来往类型</th>
                        <th style="width:10%">来往金额</th>
                        <th style="width:8%">来往备注</th>
                        <th style="width:10%">来往时间</th>
                        <th>说明</th>
                    </tr>
                </thead>
                <tbody id="tableBody"></tbody>
            </table>
            <div id="mypage"></div>
        </div>
    </fieldset>
    <div>
    </div>
</body>
</html>
<script>
    var pagecount, form, layer, laypage;
    var pagesize = 15;
    layui.use(['form', 'layer'], function () {
        form = layui.form();
        layer = layui.layer;
    });
    $('#importfile').ssi_uploader({
        url: '@Url.Action("UploadSingleFile", "FileUpload")',
        data: { "type": "0", "folder": "ImportFolder", "oldpath": "" },
        allowed: ['xls'],
        dropZone: false,
        locale: 'zh_CN',
        maxNumberOfFiles: 1,
        errorHandler: {
            method: function (msg, type) {
                if (type == "error") {
                    layer.alert(msg, { icon: 2 });
                }
            },
            success: 'success',
            error: 'error'
        },
        onEachUpload: function (backdata) {
            if (backdata.uploadStatus == "success" && backdata.responseMsg != "Error" && backdata.responseMsg != "Error0") {
                getExcelData(backdata.responseMsg);
            }
        }
    });
    function getExcelData(dataurl) {
        $.ajax(
                {
                    async: false,
                    type: 'POST',
                    data: {
                        dataurl: dataurl
                    },
                    url: '@Url.Action("ImportData", "PrImport")',
                    success: function (datafield) {
                        if (datafield == "success") {
                            $("#previewfield").show();
                            queryData();
                            $("#checkBtn").show();
                        }
                    }
                }
                );
    }
    function queryData() {
        pagecount = getPageCount();
        layui.use('laypage', function () {
            laypage = layui.laypage;
            laypage({
                cont: 'mypage'
                , pages: Math.ceil(pagecount / pagesize)
                , skip: true
                , curr: 1
                , jump: function (obj, first) {
                    //得到了当前页，用于向服务端请求对应数据
                    var curr = obj.curr;
                    var datajson = {
                        currpage: curr,
                        pagesize: pagesize
                    };
                    $.ajax(
                        {
                            async: false,
                            type: 'POST',
                            dataType: 'json',
                            url: '@Url.Action("GetExcelData","PrImport")',
                            data: datajson,
                            success: function (datafield) {
                                bindTable(datafield);
                            }
                        }
                        );
                }
            });
        });
    }
    function bindTable(data) {
        var tablehtml = "";
        var items = data;
        $.each(items, function (i) {
            tablehtml += "<tr>"
            + "<td>" + items[i].Name + "</td>"
            + "<td>" + items[i].Remarks + "</td>"
            + "<td>" + items[i].PRType + "</td>"
            + "<td>" + items[i].PRMoney + "</td>"
            + "<td>" + items[i].PRRemarks + "</td>"
            + "<td>" + items[i].PRDate + "</td>"
            + "<td></td>"
        + "</tr>";
        });
        $("#tableBody").html(tablehtml);
    }
    function getPageCount() {
        var ret = 0;
        $.ajax(
                    {
                        async: false,
                        type: 'POST',
                        url: '@Url.Action("GetExcelDataCount","PrImport")',
                        success: function (datafield) {
                            ret = datafield;
                        }
                    }
                    );
        return ret;
    }
    function checkClick() {
        queryCheckData();
        $("#importBtn").show();
    }
    function queryCheckData() {
        pagecount = getPageCount();
        layui.use('laypage', function () {
            laypage = layui.laypage;
            laypage({
                cont: 'mypage'
                , pages: Math.ceil(pagecount / pagesize)
                , skip: true
                , curr: 1
                , jump: function (obj, first) {
                    //得到了当前页，用于向服务端请求对应数据
                    var curr = obj.curr;
                    var datajson = {
                        currpage: curr,
                        pagesize: pagesize
                    };
                    $.ajax(
                        {
                            async: false,
                            type: 'POST',
                            dataType: 'json',
                            url: '@Url.Action("GetCheckData","PrImport")',
                            data: datajson,
                            success: function (datafield) {
                                bindCheckDataTable(datafield);
                            }
                        }
                        );
                }
            });
        });
    }
    function bindCheckDataTable(data) {
        var tablehtml = "";
        var items = data;
        $.each(items, function (i) {
            tablehtml += "<tr>"
            + "<td>" + items[i].Name + "</td>"
            + "<td>" + items[i].Remarks + "</td>"
            + "<td>" + items[i].PRType + "</td>"
            + "<td>" + items[i].PRMoney + "</td>"
            + "<td>" + items[i].PRRemarks + "</td>"
            + "<td>" + items[i].PRDate + "</td>"
            + "<td style='color:red'>" + items[i].Memo + "</td>"
        + "</tr>";
        });
        $("#tableBody").html(tablehtml);
    }
    function getCheckPageCount() {
        var ret = 0;
        $.ajax(
                    {
                        async: false,
                        type: 'POST',
                        url: '@Url.Action("GetCheckDataCount", "PrImport")',
                        success: function (datafield) {
                            ret = datafield;
                        }
                    }
                    );
        return ret;
    }
    function importClick() {
        $.ajax(
                    {
                        async: false,
                        type: 'POST',
                        url: '@Url.Action("ImportConfirmData", "PrImport")',
                        success: function (datafield) {
                            if (datafield == "success") {
                                $("#checkBtn").hide();
                                $("#importBtn").hide();
                                layer.msg("导入数据成功", {
                                    icon: 1, end: function () {
                                        window.location.href = window.location.href;
                                    }
                                });
                            }
                        }
                    }
                    );
    }
</script>
