@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserIndex</title>
    <link href="@Url.Content("~/Scripts/layui/css/layui.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")"></script>
    <script src="@Url.Content("~/Scripts/layui/layui.js")"></script>
    <link href="@Url.Content("~/Content/main.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/echarts.js")"></script>
</head>
<body>
    <div>
        <div class="layui-form">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label" style="width:auto">统计图表类型：</label>
                    <div class="layui-input-inline" style="width: 200px;">
                        <input type="radio" name="statStyle" value="bar" title="柱状图" checked="">
                        <input type="radio" name="statStyle" value="line" title="折线图">
                    </div>
                </div>
                <div class="layui-inline" style="margin-right:0px;">
                    <label class="layui-form-label" style="width:auto">统计周期：</label>
                    <div class="layui-input-inline" style="width: 150px;">
                        <select name="StatCycle">
                            <option value=""></option>
                            <option value="6" selected="">最近半年</option>
                            <option value="12">最近一年</option>
                            <option value="24">最近两年</option>
                            <option value="36">最近三年</option>
                            <option value="48">最近四年</option>
                            <option value="-1">所有</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div id="main" style="width: auto;height:600px;"></div>
    </div>
</body>
</html>
<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main'));

    // 指定图表的配置项和数据
    var option = {
        title: {
            text: '人情来往柱状分析图'
        },
        tooltip: {},
        legend: {
            data: ['收情', '还情']
        },
        xAxis: {
            data: []
        },
        yAxis: {},
        series: [{
            name: '收情',
            type: 'bar',
            data: []
        },
        {
            name: '还情',
            type: 'bar',
            data: []
        }],
        dataZoom: [
        {   // 这个dataZoom组件，默认控制x轴。
            type: 'inside', // 这个 dataZoom 组件是 slider 型 dataZoom 组件
            start: 0,      // 左边在 10% 的位置。
            end: 100         // 右边在 60% 的位置。
        }
        ]
    };

    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
    var dataoption;
    function initData(selectdate) {
        myChart.showLoading();
        $.ajax(
             {
                 async: true,
                 type: 'POST',
                 url: '@Url.Action("GetUserIndexStat","OverView")',
                 data: {
                     MoneyDate: selectdate
                 },
                 dataType: 'json',
                 success: function (datafield) {
                     buildOption(datafield);
                 }
             }
             );
    }
    function buildOption(datamodel) {
        var categories = [];
        var getmoneies = [];
        var givemoneies = [];
        $.each(datamodel, function (i) {
            categories.push(datamodel[i].MoneyDate);
            getmoneies.push(datamodel[i].GetMoney);
            givemoneies.push(datamodel[i].GiveMoney);
        });
        dataoption = ({
            categorie: categories,
            getmoney: getmoneies,
            givemoney: givemoneies
        });
        myChart.hideLoading();
        myChart.setOption({
            xAxis: {
                data: dataoption.categorie
            },
            series: [{
                name: '收情',
                data: dataoption.getmoney
            },
            {
                name: '还情',
                data: dataoption.givemoney
            }]
        });
    }
    $(document).ready(function () {
        layui.use(['layer', 'form'], function () {
            var layer = layui.layer;
            form = layui.form();
            form.render();

            initData('6');
            form.on('select', function (data) {
                statCycle(data);
            });
            form.on('radio', function (data) {
                changeStyle(data);
            });
        });
    });
    function statCycle(selectitem) {
        initData(selectitem.value);
    }
    function changeStyle(selectradio) {
        var statname = "人情来往柱状分析图";
        if (selectradio.value == "line")
            statname = "人情来往折线分析图";
        myChart.setOption({
            title: {
                text: statname
            },
            xAxis: {
                data: dataoption.categorie
            },
            series: [{
                name: '收情',
                type: selectradio.value,
                smooth: true,
                data: dataoption.getmoney
            },
            {
                name: '还情',
                type: selectradio.value,
                smooth: true,
                data: dataoption.givemoney
            }]
        });
    }
</script>





